<h1>
  {{title}}
</h1>
<nav>
  <a routerLink="/invoiceForm" routerLinkActive="active" >Invoice Form</a> | 
  <a routerLink="/invoices" routerLinkActive="active">Invoices</a> 
</nav>

<router-outlet></router-outlet>
