<app-invoice-form  (invoiceAddedEvent) = "addInvoice($event)"></app-invoice-form>
 <h3>List Of Invoices:</h3>
<ul>
    <i *ngIf="isLoading" class="fa fa-spinner fa-spin fa-3x"></i>
  <li class="list-group-item"  *ngFor = "let invoice of invoices"
  [class.active]="currentInvoice == invoice"
  (click)="select(invoice)" >
  <app-invoice [invoice] = invoice > </app-invoice>
                                     
   </li>   
</ul>